/**
 * FONT STYLING
 */
html .font-bold      { font-weight: bold; }

/**
 * FONT SIZES
 * Note: Only required ones were used. In any production situation, I'd have SASS code to create all of these in cycles.
 */
html .font-size-18   { font-size: 18px;  }
html .font-size-26   { font-size: 26px;  }