/**
 * MARGINS & PADDING
 * Order is "m", "mt", "mr", "mb", "ml" (margin, top, right, bottom, left)
 * Note: Only required ones were used. In any production situation, I'd have SASS code to create all of these in cycles.
 */
html .mt-20      { margin-top: 20px;     }
html .mr-5       { margin-right: 5px;    }
html .mb-10      { margin-bottom: 10px;  }

/**
 * PADDING
 * Order is "p", "pt", "pr", "pb", "pl" (padding, top, right, bottom, left)
 * Note: Only required ones were used. In any production situation, I'd have SASS code to create all of these in cycles.
 */
html .p-15       { padding: 15px;        }
html .p-35       { padding: 15px;        }
html .pt-35      { padding-top: 35px;    }
html .pr-none    { padding-right: 0;     }