// Spacings
$spacing-increment: 5;
$positioning-class-list:
        'm' 'mt' 'mr' 'mb' 'ml'
        'p' 'pt' 'pr' 'pb' 'pl';
$positioning-css-list:
        'margin' 'margin-top' 'margin-right' 'margin-bottom' 'margin-left'
        'padding' 'padding-top' 'padding-right' 'padding-bottom' 'padding-left';

// Fonts
$font-sizes: 18 26;